@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    text-align: right;
}

button {
    font-family: 'Open Sans', sans-serif;

    padding: 10px;
    background-color: coral;
    color: white;
    border-style: none;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: coral;
}

button:hover {
    color: coral;
    background-color: white;
}

input {
    font-family: 'Open Sans', sans-serif;
    text-align: right;
}